<a href="https://colab.research.google.com/github/mobukerk/Data_Journey/blob/main/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

# Criar DataFrame
dados = {
    "Dia": ["Seg","Ter","Qua","Qui","Sex"],
    "Horas de Estudo": [2,3,1,4,2],
    "Produtividade": [6,7,5,8,6]
}
df = pd.DataFrame(dados)

# Exibir DataFrame centralizado (estilo)
df_styled = df.style.set_table_styles([
    {'selector': 'th', 'props': [('text-align', 'center')]},
    {'selector': 'td', 'props': [('text-align', 'center')]}
])

display(df_styled)  # Mostra a tabela formatada (Jupyter/VSCode)

# Estatísticas
print("\nEstatísticas básicas:")
print(df.describe())

Estatísticas básicas:
       Horas de Estudo  Produtividade
count         5.000000       5.000000
mean          2.400000       6.400000
std           1.140175       1.140175
min           1.000000       5.000000
25%           2.000000       6.000000
50%           2.000000       6.000000
75%           3.000000       7.000000
max           4.000000       8.000000